<!DOCTYPE html>
<html lang="en">

<body>
    <div class="col-xs-12 olson-ink-title">
        <h1>Olson Ink</h1>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h2>Jonathan Olson</h2>
            <div class="row">
                <div class="col-xs-12 col-xs-offset-6 scriptThingDiv">
                    <img class="scriptThing rounded mx-auto d-block" src="css/images/caliHeader.png">
                </div>
            </div>
            <h3 class: "aboutMe">My name is Jonathan Olson and I am a local artist and designer from Salt Lake City, Utah. I made this blog to
                showcase my art and have a place for people to hopefully get ideas or inspiration from the things I create.
                I am constantly trying to learn from others and pull inspiration from anything I can. I have a beautiful
                wife and son that are my whole world. Everything I do is for them. </h3>
            <p><a class="btn btn-default btn-lg" href="#" role="button">Contact Me</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class='list-group imgGallery'>
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img1.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img1.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img2.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img2.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img3.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img3.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img4.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img4.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img5.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img5.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img6.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img6.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img7.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img7.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img8.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img8.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img9.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img9.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img10.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img10.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img11.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img11.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img12.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img12.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img13.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img13.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img14.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img14.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img15.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img15.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img16.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img16.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img17.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img17.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img18.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img18.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img19.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img19.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="thumbnail fancybox" rel="ligthbox" href="css/images/homeImages/img20.jpeg">
                        <img class="img-responsive" alt="" src="css/images/homeImages/img20.jpeg" />
                        <div class='text-right'>
                            <small class='text-muted'>Image Title</small>
                        </div>
                        <!-- text-right / end -->
                    </a>
                </div>
                <!-- col-6 / end -->
            </div>
            <!-- list-group / end -->
        </div>
        <!-- row / end -->
    </div>
    <!-- container / end -->
</body>

</html>