<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <img class="headerImg" src="css/images/background.jpg">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://photos-2.dropbox.com/t/2/AAA-jQtdwzEOu4MSdHUdesdILfap26gFi1OeLGWJXG3Dog/12/551983596/jpeg/32x32/3/1481227200/0/2/georgie2.JPG/EPbt6bUEGKIBIAIoAg/iZLEQYYlE-tADweVqFLyCYDxGU4XeJllo7c7uX0Leso?size_mode=3&dl=0&size=1280x960">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="https://www.dropbox.com/sh/q2tjn299z7f85ix/AAAo0sI3YjtBEcBALqVnfltTa?dl=0&preview=close+up.jpg">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/dddddd/333333">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/999999/cccccc">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua.</p>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->
            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Spray<small></small></a></li>
                <li class="navbar" data-target="#myCarousel" data-slide-to="1"><a href="#">Acrylic<small></small></a></li>
                <li class="navbar" data-target="#myCarousel" data-slide-to="2"><a href="#">Drawings<small></small></a></li>
                <li class="navbar" data-target="#myCarousel" data-slide-to="3"><a href="#">Murals<small></small></a></li>
                <li class="navbar" data-target="#myCarousel" data-slide-to="4"><a href="#">Clothing<small></small></a></li>
            </ul>
        </div>
        <!-- End Carousel -->
    </div>
</body>

</html>